
@import "normalize.css/normalize.css";
@import "../fonts/roboto.css";
@import "../fonts/roboto-mono.css";

/*
  XXX
  figure styles
  links
*/

body {
  max-width: 21cm;
  margin: auto;
  line-height: 1.6;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

/* headers & headings */
header > h1 {
  margin: 0;
  font-size: 3em;
  padding-top: 4em;
}
div.banner {
  display: flex;
  justify-content: space-between;
}
div.banner > img {
  height: 100%;
}
div.banner > div.status {
  color: #fff;
  background: #9400bf;
  width: 350px;
  padding: 10px;
  text-align: right;
}
h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0.0375em;
}
h1, h2 {
  color: #4b0061;
}
h2 {
  margin-top: 3em;
}
h3 {
  margin-top: 2.5em;
}
h4 {
  font-weight: 300;
  font-size: 1.2em;
  font-variant: small-caps;
  margin: 2em 0 0.5em 0;
}

/* contentinfo */
[role="contentinfo"] a {
  text-decoration: none;
}
ol[role="directory"], [role="directory"] ol {
  list-style-type: none;
}
[role="contentinfo"] dt {
  font-weight: bold;
}
[role="contentinfo"] dd {
  margin-bottom: 1em;
}

/* link types */
a.onto {
  font-family: "Roboto Mono", monospace;
  text-decoration: none;
  background: linear-gradient(to top, rgba(255, 0, 0, 0.4), rgba(255, 0, 0, 0.4) 15%, #fff 16%);
  color: #434343;
}

/* code */
code, pre {
  font-family: "Roboto Mono", monospace;
}

/* special boxes */
p.issue {
  border-left: 3px solid red;
  padding: 0.5em 1em;
}

@media screen and (max-width: 577px) {
  div.status {
    width: auto;
  }
}
@media screen and (max-width: 980px) {
  body {
    margin: 0 2em;
  }
}
